@import "variable";

$dark: #1d1d1d;
$grey-dark: #414141;
$light: #fff;
$mid: #ededed;
$grey: #989898;
$gray: #989898;
$green: #28a92b;
$green-dark: #4e9815;
$green-light: #6fb936;
$blue: #2c7ad2;
$purple: #8d3dae;
$red: #c82736;
$orange: #e77614;

@media screen and (min-width: 0px) {
    #gsap {
        padding-top: 100px;
        background-color: #414141;
    }

    .box,
    .test {
        width: 200px;
        height: 200px;
        border-radius: $border-radius;
    }

    .green {
        background-color: $green;
    }

    .purple {
        background-color: $purple;
    }

    .orange {
        background-color: $orange;
    }

    #svg {
        height: 90vh;
        max-height: 300px;
        border: solid 2px white;
        overflow: visible;
    }


    #canvas {
        height: 80vh;
        max-height: 300px;
        overflow: visible;
        border: solid 2px white;
    }

    #s5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .s5 {
            width: 200px;
            height: 200px;
            border-radius: $border-radius;
            cursor: pointer;
        }
    }

    #s6 {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(8, 1fr);
        max-width: 570px;

        .s6 {
            width: 50px;
            height: 50px;
            border-radius: $border-radius;
        }
    }
}