@import "variable";

@media screen and (min-width: 0px) {
  #single-post {
    .container {
      padding: 60px 20px;

      h2 {
        padding: 30px 0 10px;
      }

      h3 {
        padding: 20px 0 5px;
      }

      ul,
      ol {
        margin     : 10px 0;
        font-size  : 1rem;
        line-height: 1.5rem;
      }

      .divimg-wrapper {
        margin-bottom: 20px;
        .img {
          max-width: 650px;
          margin: 0 auto;
        }

        .img-desc {
          font-size  : 0.75rem;
          line-height: 1.125rem;
          text-align : center;
        }
      }
    }

    .post-info {
      display       : flex;
      flex-direction: column;
      align-items   : center;

      .tags {
        display  : flex;
        flex-wrap: wrap;

        li {
          margin-left: 5px;

          .btn-tag {
            padding: 6px 12px;
          }
        }
      }
    }

    .switch-posts {
      margin-top : 30px;
      font-size  : 0.875rem;
      line-height: 1.25rem;

      .item {
        padding: 5px 0;

        .lable {
          display     : inline-block;
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #single-post {
    .container {
      padding: 60px 50px;
    }
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {
  #single-post {
    .container {
      padding: 80px 12%
    }
  }
}

@media screen and (min-width: 1920px) {
  #single-post {
    .container {
      padding: 80px 20%
    }
  }
}

@media screen and (min-width: 2560px) {
  #single-post {
    .container {
      padding-left : calc((100% - 1200px) / 2);
      padding-right: calc((100% - 1200px) / 2);
    }
  }
}