@import "variable";
[data-theme="light"] {
  main {
    min-height: 95vh;
    background-color: $light-bg-color;
    color: $light-color-one;
    a {
      color: $light-color-one;
      &:hover {
        color: $dark-color-two;
      }
    }
    .btn-tag {
      color: $light-bg-color;
      &:hover {
        background-color: #269510;
        color: $light-bg-color;
      }
    }
  }

  #single-post {
    .wrapper,
    .switch-posts {
      a {
        border-bottom: 1px solid $light-color-one;
        &:hover {
          border-bottom: 1px solid $light-color-two;
        }
      }
    }
  }
}

[data-theme="dark"] {
  blockquote {
    border-left: 3px solid $light-color-two;
    background-color: $dark-bg-color;
    &:before {
      color: $light-color-two;
    }
  }

  pre[data-language] {
    position: relative;
    margin: 10px 0;
    color: $dark-bg-color;
    background-color: $dark-color-one;
  }
  pre[data-language]::before {
    color: $dark-color-one;
    background-color: $dark-bg-color;
  }
  pre.line-numbers .token.punctuation,
  pre.language-html.line-numbers .token.attr-value .token.punctuation.attr-equals  {
    color: $dark-bg-color;
  }
  
  main {
    min-height: 95vh;
    background-color: $dark-bg-color;
    color: $dark-color-one;
    a {
      color: $dark-color-one;
      &:hover {
      color: $dark-color-two;
      }
    }
  }
  
  #single-post {
    .wrapper,
    .switch-posts {
      a {
        border-bottom: 1px solid $dark-color-one;
        &:hover {
          border-bottom: 1px solid $dark-color-two;
        }
      }
    }
  }

  #tags,
  #single-tag {
    .container {
      .see-all-tags {
        a {
          border-bottom: 1px solid $dark-color-one;
          &:hover {
            border-bottom: 1px solid $dark-color-two;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 0px) {
  [data-theme="dark"] {
    footer {
      background-color: rgba($dark-bg-color, 0.95);
    }

    #homepage {
      #hero {
        .content {
          color: $dark-color-one;
        }
      }
      .homepage-block {
        .title {
          .title-line {
            border-bottom: 1px solid $dark-color-one;
          }
        }
      }
      #s2 {
        .work-grids {
          &::before {
            border-right: 1px solid $dark-color-one;
          }
        }
      }
    }

    #archives {
      .container {
        .article-wrapper {
          .article-item {
            background-color: rgba($dark-color-one, 0.06);
          }
        }
      }
    }

    #single-tag {
      .article-wrapper {
        .article-item {
          background-color: rgba($dark-color-one, 0.06);
        }
      }
    }

    #links {
      .container {        
        .container-left {
          .mobile-filter {            
            background-color: $dark-bg-color;
          }
          ul {
            background-color: $dark-bg-color;
          }
        }
        .item-wrapper {
          .item {
            background-color: rgba($dark-color-one, 0.06);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {  
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1920px) {
}

@media screen and (min-width: 2560px) {  
}