
$border-radius: 6px;
$tag-border-radius: 3px;
$transition-animation: all 0.35s;
$light-color-one: #2d2f30;
$light-color-two: #3fae29;
$light-bg-color: #fff;
$light-border-grey-color: #ebebeb;

$dark-color-one: #fff;
$dark-color-two: #3fae29;
$dark-bg-color: #2d2f30;
$dark-border-grey-color: #ebebeb;