
$border-radius: 6px;
$tag-border-radius: 3px;
$transition-animation: all 0.35s;
$light-color-one: #2D2F30;
$light-color-one-hover: #3E4041;
$light-color-two: #3FAE29;
$light-color-two-hover: #52B63E;
$light-bg-color: #fff;
$light-border-grey-color: #ebebeb;

$dark-color-one: #fff;
$dark-color-two: #3FAE29;
$dark-bg-color: #2D2F30;
$dark-border-grey-color: #ebebeb;

$page-padding-lr-m: 20px;
$page-padding-lr-t: 50px;
$page-padding-lr-l: 12vw;
$page-padding-lr-d: 20vw;
$page-padding-tb-m: 60px;
$page-padding-tb-t: 80px;
$page-padding-tb-l: 100px;
$page-padding-tb-d: 120px;