@media screen and (min-width: 0px) {
  #nav-right .right-block {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    border-top: 2px solid #3FAE29;
  }
  #nav-right .right-block h3 {
    padding: 12px 0;
    text-align: center;
    border-top: 2px solid #3FAE29;
    border-bottom: 1px solid #ebebeb;
  }
  #nav-right .right-block ul {
    margin: 20px;
  }
  #nav-right .right-block ul li {
    border-bottom: 1px solid #ebebeb;
  }
  #nav-right .right-block ul li:last-child {
    border-bottom: none;
  }
  #nav-right .right-block ul li a {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  #nav-right .right-block ul li a span {
    display: block;
  }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1440px) {}