@import "variable";
@keyframes pr1A {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pr2A {
  0% {
    transform: rotate(-180deg);
  }
  100%{
    width: 60px;
    height: 120px;
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 0px) {
  #homepage {
    padding-bottom: 3rem;
    #hero {
      width   : 100%;
      height  : 100vh;
      overflow: hidden;

      // background-color: #afe5ff;
      // background-color: $light-color-one;
      .divimg {
        img {
          width          : 120%;
          object-fit     : initial;
          object-position: -60px 0;
        }
      }

      .content {
        transform: translateY(-50%);
        color: $light-color-one;

        h1 {
          font-size  : 3.125rem;
          line-height: 3.625rem;
        }
      }
    }

    .homepage-block {
      position: relative;
      padding : 60px 0 0;
      overflow: hidden;

      .wrapper {
        padding: 0 20px;
      }

      .title {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        h2 {
          display       : inline-block;
          padding-bottom: 5px;
          border-bottom : 2px solid $light-color-two;
        }

        .title-line {
          width        : 100%;
          border-bottom: 1px solid $light-color-one;
        }
      }
    }

    #s1 {
      .content {
        max-width : 650px;
        margin    : 30px auto;
        text-align: center;

        p {
          font-size  : 1.125rem;
          line-height: 1.625rem;
        }
      }

      .divimg {
        max-width: 600px;
        margin   : 0 auto;
      }

      .divimg-bg {
        position: absolute;
        right   : -10px;
        top     : 0px;
        width   : 200px;
      }
    }

    #s2 {     
      .work-grids {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          bottom: 0;
          transform: translateX(-50%);
          border-right: 1px solid $light-color-one;
        }
        .item {
          display    : flex;
          align-items: center;
          font-size  : 1rem;
          line-height: 1.5rem;
          .work-time {
            width: calc((100% - 50px) / 2);
            padding: 50px 20px 50px 0;
            text-align: right;
          }
          .work-info {
            width: calc((100% - 50px) / 2);
            padding: 50px 0 50px 20px;
          }
          .company-icon {
            width: 30px;
            padding         : 10px;
            background-color: $light-color-two;
            border-radius   : 50%;
            transform       : scale(1);
            transition      : $transition-animation;
            .iconfont {
              font-size  : 1.875rem;
              line-height: 1.875rem;
              color      : #FFF;
            }
          }          
            
          &:nth-child(2n) {
            flex-direction: row-reverse;
            .work-time {
              padding: 50px 0 50px 20px;
              text-align: left;
            }
            .work-info {
              padding: 50px 20px 50px 0;
              text-align: right;
            }
          }
          &:nth-child(2n+1) {
            flex-direction: row;
          }
          &:hover {
            .company-icon {
              transform: scale(1.2);
            }
          }
        }
      }

      .divimg-bg {
        position: absolute;
        left    : -30px;
        bottom  : 0px;
        width   : 200px;
      }
    }

    #s3 {
      .skill-list {
        padding: 50px 0 0;
      }

      .divimg-bg {
        position: absolute;
        right   : -30px;
        bottom  : 0px;
        width   : 200px;
      }
    }

    #s4 {

      // background-color: #5ac3f6;
      .project-list {
        padding: 30px 0;

        .project-item {
          margin-top: 20px;
        }

        a {
          position     : relative;
          display      : block;
          border-radius: $border-radius;
          overflow     : hidden;

          .divimg {
            height: 300px;

            img {
              height    : 100%;
              object-fit: cover;
            }
          }

          .content {
            position        : absolute;
            left            : 0;
            right           : 0;
            top             : 0;
            bottom          : 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding         : 60px;
            background-color: rgba(#000, 0.3);
            color           : #FFF;
            font-size       : 1rem;
            line-height     : 1.5rem;
            h3 {
              margin-bottom: 10px;
            }

            &::before,
            &::after {
              content           : '';
              position          : absolute;
              top               : 30px;
              right             : 30px;
              bottom            : 30px;
              left              : 30px;
              opacity           : 0;
              -moz-transition   : $transition-animation;
              -webkit-transition: $transition-animation;
              -o-transition     : $transition-animation;
              transition        : $transition-animation;
            }

            &::before {
              border-top       : 1px solid #fff;
              border-bottom    : 1px solid #fff;
              -moz-transform   : scale(0, 1);
              -webkit-transform: scale(0, 1);
              -o-transform     : scale(0, 1);
              transform        : scale(0, 1);
            }

            &::after {
              border-right     : 1px solid #fff;
              border-left      : 1px solid #fff;
              -moz-transform   : scale(1, 0);
              -webkit-transform: scale(1, 0);
              -o-transform     : scale(1, 0);
              transform        : scale(1, 0);
            }
          }

          &:hover {
            .content {

              &::before,
              &::after {
                opacity  : 1;
                transform: scale(1);
              }
            }
          }
        }
      }

      .divimg-bg {
        position: absolute;
        left    : -25px;
        bottom  : 20px;
        width   : 260px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #homepage {
    #hero {
      .divimg {
        img {
          object-position: -125px 0;
        }
      }

      .content {
        width : 500px;
        margin: 0 auto;

        h1 {
          font-size  : 3.75rem;
          line-height: 4.25rem;
        }
      }
    }

    .homepage-block {
      .wrapper {
        padding: 0 50px;
      }
    }

    #s1 {
      .content {
        p {
          font-size  : 1.875rem;
          line-height: 2.5rem;
        }
      }

      .divimg-bg {
        width: auto;
      }
    }

    #s2 {
      .divimg-bg {
        width: 280px;
      }
    }

    #s3 {
      .divimg-bg {
        width: 300px;
      }
    }

    #s4 {

      // background-color: #5ac3f6;
      .project-list {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        .project-item {
          width     : calc(50% - 10px);
          margin-top: 20px;
        }
      }

      .divimg-bg {
        width: 350px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #homepage {
    .homepage-block {
      padding: 80px 0 0;
    }
  }

}

@media screen and (min-width: 1280px) {
  #homepage {
    #hero {
      .divimg {
        img {
          width          : 100%;
          object-fit     : cover;
          object-position: center;
        }
      }
    }

    .homepage-block {
      .wrapper {
        padding: 0 12%;
      }
    }

    #s4 {
      .project-list {
        justify-content: space-around;

        .project-item {
          width       : calc((100% - 40px) / 3);
          margin-right: 20px;

          &:nth-child(3n) {
            margin-right: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        a {
          .content {
            h3,
            p {
              opacity: 0;
              visibility: hidden;
              transition: $transition-animation;
            }
            h3 {
              transform: translateY(-20px);
            }
            p {
              transform: translateY(20px);
            }
          }
          &:hover {
            .content {
              h3,
              p {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  #homepage {
    .homepage-block {
      .title {
        h2 {
          font-size  : 1.875rem;
          line-height: 2.5rem;
        }
      }
    }

    #s1 {
      .divimg-bg {
        width: 450px;
      }
    }

    #s2 {
      .work-grids {
        .item {
          font-size  : 1.25rem;
          line-height: 1.75rem;
        }
      }

      .divimg-bg {
        width: 400px;
      }
    }

    #s3 {
      .divimg-bg {
        width: 400px;
      }
    }

    #s4 {
      .divimg-bg {
        width: 600px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  #homepage {
    #hero {
      .content {
        width: 700px;

        h1 {
          font-size  : 4.75rem;
          line-height: 5.625rem;
        }
      }
    }

    .homepage-block {
      padding: 100px 0 0;

      .wrapper {
        padding: 0 20%;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  #homepage {
    .homepage-block {
      padding: 150px 0 0;
      .wrapper {
        padding-left : calc((100% - 1200px) / 2);
        padding-right: calc((100% - 1200px) / 2);
      }
    }

    #s1 {
      .divimg-bg {
        right: calc((100% - 1500px) / 2);
      }
    }

    #s2 {
      .divimg-bg {
        left: calc((100% - 1500px) / 2);
      }
    }

    #s3 {
      .divimg-bg {
        right: calc((100% - 1500px) / 2);
      }
    }

    #s4 {
      .divimg-bg {
        left: calc((100% - 1500px) / 2);
      }
    }
  }
}