---
baseURL: http://localhost:8888
lang: en
siteName: Iris Blog | English
---

{% include './components/head' %}
{% include './components/header' %}
<main id="{{ pageSectionID }}">
    {{ content | safe }}
</main>
{% include './components/footer' %}
{% include './components/scripts' %}
