@import url(components/nav-right.css);
@import url(components/article-item.css);

@media screen and (min-width: 0px) {
  #tags .wrapper {
    padding: var(--page-padding-tb) 0;
  }
  #tags ul {
    max-width: 500px;
    margin: 0 auto;
  }
  #tags ul li a {
    display: inline-block;
    padding: 10px 0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-size-xxl);
    line-height: var(--font-size-xxl-line-height);
  }
  #tags ul li a:hover {
    transform: scale(1.3);
  }
  #tags ul li:nth-child(2n) {
    text-align: right;
  }
  #tags ul li:nth-child(2n+1) {
    text-align: left;
  }
  #tags ul li.css a {
    background-image: linear-gradient(45deg, #24c6dc, #514a9d);
  }
  #tags ul li.eleventy a {
    background-image: linear-gradient(45deg, #f3cd13, #f35858);
  }
  #tags ul li.git a {
    background-image: linear-gradient(45deg, #dd5e89, #f7bb97);
  }
  #tags ul li.gulp a {
    background-image: linear-gradient(45deg, #3ca55c, #b5ac49);
  }
  #tags ul li.html a {
    background-image: linear-gradient(45deg, #4cb8c4, #3cd3ad);
  }
  #tags ul li.javascript a {
    background-image: linear-gradient(45deg, #4776e6, #8e54e9);
  }
  #tags ul li.linux a {
    background-image: linear-gradient(45deg, #c04848, #480048);
  }
  #tags ul li.tech a {
    background-image: linear-gradient(45deg, #30cfd0, #330867);
  }
  #tags ul li.wordpress a {
    background-image: linear-gradient(45deg, #7028e4, #e5b2ca);
  }
  #tags ul li.else a {
    background-image: linear-gradient(45deg, #f44336, #fc00ff);
  }

  #single-tag .see-all-tags {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1440px) {}