@-webkit-keyframes dropFloat {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translate3d(0, -30%, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes dropFloat {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translate3d(0, -30%, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@-webkit-keyframes dropRotation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}
@keyframes dropRotation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}
