@keyframes pr1A {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pr2A {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    width: 60px;
    height: 120px;
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 0px) {
  #homepage {
    padding-bottom: 3rem;
  }
  #homepage #hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  #homepage #hero .divimg img {
    width: 120%;
    object-fit: initial;
    object-position: -60px 0;
  }
  #homepage #hero .content {
    transform: translateY(-50%);
    color: #2D2F30;
  }
  #homepage #hero .content h1 {
    font-size: 3.125rem;
    line-height: 3.625rem;
  }
  #homepage .homepage-block {
    position: relative;
    padding: 60px 0 0;
    overflow: hidden;
  }
  #homepage .homepage-block .wrapper {
    padding: 0 20px;
  }
  #homepage .homepage-block .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #homepage .homepage-block .title h2 {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #3FAE29;
  }
  #homepage .homepage-block .title .title-line {
    width: 100%;
    border-bottom: 1px solid #2D2F30;
  }
  #homepage #s1 .content {
    max-width: 650px;
    margin: 30px auto;
    text-align: center;
  }
  #homepage #s1 .content p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  #homepage #s1 .divimg {
    max-width: 600px;
    margin: 0 auto;
  }
  #homepage #s1 .divimg-bg {
    position: absolute;
    right: -10px;
    top: 0px;
    width: 200px;
  }
  #homepage #s2 .work-grids {
    position: relative;
  }
  #homepage #s2 .work-grids::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    border-right: 1px solid #2D2F30;
  }
  #homepage #s2 .work-grids .item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #homepage #s2 .work-grids .item .work-time {
    width: calc((100% - 50px) / 2);
    padding: 50px 20px 50px 0;
    text-align: right;
  }
  #homepage #s2 .work-grids .item .work-info {
    width: calc((100% - 50px) / 2);
    padding: 50px 0 50px 20px;
  }
  #homepage #s2 .work-grids .item .company-icon {
    width: 30px;
    padding: 10px;
    background-color: #3FAE29;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.35s;
  }
  #homepage #s2 .work-grids .item .company-icon .iconfont {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #FFF;
  }
  #homepage #s2 .work-grids .item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  #homepage #s2 .work-grids .item:nth-child(2n) .work-time {
    padding: 50px 0 50px 20px;
    text-align: left;
  }
  #homepage #s2 .work-grids .item:nth-child(2n) .work-info {
    padding: 50px 20px 50px 0;
    text-align: right;
  }
  #homepage #s2 .work-grids .item:nth-child(2n+1) {
    flex-direction: row;
  }
  #homepage #s2 .work-grids .item:hover .company-icon {
    transform: scale(1.2);
  }
  #homepage #s2 .divimg-bg {
    position: absolute;
    left: -30px;
    bottom: 0px;
    width: 200px;
  }
  #homepage #s3 .skill-list {
    padding: 50px 0 0;
  }
  #homepage #s3 .divimg-bg {
    position: absolute;
    right: -30px;
    bottom: 0px;
    width: 200px;
  }
  #homepage #s4 .project-list {
    padding: 30px 0;
  }
  #homepage #s4 .project-list .project-item {
    margin-top: 20px;
  }
  #homepage #s4 .project-list a {
    position: relative;
    display: block;
    border-radius: 6px;
    overflow: hidden;
  }
  #homepage #s4 .project-list a .divimg {
    height: 300px;
  }
  #homepage #s4 .project-list a .divimg img {
    height: 100%;
    object-fit: cover;
  }
  #homepage #s4 .project-list a .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #homepage #s4 .project-list a .content h3 {
    margin-bottom: 10px;
  }
  #homepage #s4 .project-list a .content::before, #homepage #s4 .project-list a .content::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }
  #homepage #s4 .project-list a .content::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -moz-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  #homepage #s4 .project-list a .content::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -moz-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  #homepage #s4 .project-list a:hover .content::before, #homepage #s4 .project-list a:hover .content::after {
    opacity: 1;
    transform: scale(1);
  }
  #homepage #s4 .divimg-bg {
    position: absolute;
    left: -25px;
    bottom: 20px;
    width: 260px;
  }
}
@media screen and (min-width: 768px) {
  #homepage #hero .divimg img {
    object-position: -125px 0;
  }
  #homepage #hero .content {
    width: 500px;
    margin: 0 auto;
  }
  #homepage #hero .content h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  #homepage .homepage-block .wrapper {
    padding: 0 50px;
  }
  #homepage #s1 .content p {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  #homepage #s1 .divimg-bg {
    width: auto;
  }
  #homepage #s2 .divimg-bg {
    width: 280px;
  }
  #homepage #s3 .divimg-bg {
    width: 300px;
  }
  #homepage #s4 .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #homepage #s4 .project-list .project-item {
    width: calc(50% - 10px);
    margin-top: 20px;
  }
  #homepage #s4 .divimg-bg {
    width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  #homepage .homepage-block {
    padding: 80px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  #homepage #hero .divimg img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  #homepage .homepage-block .wrapper {
    padding: 0 12%;
  }
  #homepage #s4 .project-list {
    justify-content: space-around;
  }
  #homepage #s4 .project-list .project-item {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
  }
  #homepage #s4 .project-list .project-item:nth-child(3n) {
    margin-right: 0;
  }
  #homepage #s4 .project-list .project-item:last-child {
    margin-right: 0;
  }
  #homepage #s4 .project-list a .content h3,
#homepage #s4 .project-list a .content p {
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
  }
  #homepage #s4 .project-list a .content h3 {
    transform: translateY(-20px);
  }
  #homepage #s4 .project-list a .content p {
    transform: translateY(20px);
  }
  #homepage #s4 .project-list a:hover .content h3,
#homepage #s4 .project-list a:hover .content p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 1400px) {
  #homepage .homepage-block .title h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  #homepage #s1 .divimg-bg {
    width: 450px;
  }
  #homepage #s2 .work-grids .item {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  #homepage #s2 .divimg-bg {
    width: 400px;
  }
  #homepage #s3 .divimg-bg {
    width: 400px;
  }
  #homepage #s4 .divimg-bg {
    width: 600px;
  }
}
@media screen and (min-width: 1920px) {
  #homepage #hero .content {
    width: 700px;
  }
  #homepage #hero .content h1 {
    font-size: 4.75rem;
    line-height: 5.625rem;
  }
  #homepage .homepage-block {
    padding: 100px 0 0;
  }
  #homepage .homepage-block .wrapper {
    padding: 0 20%;
  }
}
@media screen and (min-width: 2560px) {
  #homepage .homepage-block {
    padding: 150px 0 0;
  }
  #homepage .homepage-block .wrapper {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
  #homepage #s1 .divimg-bg {
    right: calc((100% - 1500px) / 2);
  }
  #homepage #s2 .divimg-bg {
    left: calc((100% - 1500px) / 2);
  }
  #homepage #s3 .divimg-bg {
    right: calc((100% - 1500px) / 2);
  }
  #homepage #s4 .divimg-bg {
    left: calc((100% - 1500px) / 2);
  }
}
