[data-theme=light] main {
  min-height: calc(100vh - 140px);
  background-color: #fff;
  color: #2D2F30;
}
[data-theme=light] main a {
  color: #2D2F30;
}
[data-theme=light] main a:hover {
  color: #3FAE29;
}
[data-theme=light] main .btn-tag {
  color: #fff;
}
[data-theme=light] main .btn-tag:hover {
  background-color: #269510;
  color: #fff;
}
[data-theme=light] #single-post .wrapper a,
[data-theme=light] #single-post .switch-posts a {
  border-bottom: 1px solid #2D2F30;
}
[data-theme=light] #single-post .wrapper a:hover,
[data-theme=light] #single-post .switch-posts a:hover {
  border-bottom: 1px solid #3FAE29;
}

[data-theme=dark] blockquote {
  border-left: 3px solid #3FAE29;
  background-color: #2D2F30;
}
[data-theme=dark] blockquote:before {
  color: #3FAE29;
}
[data-theme=dark] pre[data-language] {
  position: relative;
  margin: 10px 0;
  color: #2D2F30;
  background-color: #fff;
}
[data-theme=dark] pre[data-language]::before {
  color: #fff;
  background-color: #2D2F30;
}
[data-theme=dark] pre.line-numbers .token.punctuation,
[data-theme=dark] pre.language-html.line-numbers .token.attr-value .token.punctuation.attr-equals {
  color: #2D2F30;
}
[data-theme=dark] main {
  min-height: 95vh;
  background-color: #2D2F30;
  color: #fff;
}
[data-theme=dark] main a {
  color: #fff;
}
[data-theme=dark] main a:hover {
  color: #3FAE29;
}
[data-theme=dark] #single-post .wrapper a,
[data-theme=dark] #single-post .switch-posts a {
  border-bottom: 1px solid #fff;
}
[data-theme=dark] #single-post .wrapper a:hover,
[data-theme=dark] #single-post .switch-posts a:hover {
  border-bottom: 1px solid #3FAE29;
}
[data-theme=dark] #tags .container .see-all-tags a,
[data-theme=dark] #single-tag .container .see-all-tags a {
  border-bottom: 1px solid #fff;
}
[data-theme=dark] #tags .container .see-all-tags a:hover,
[data-theme=dark] #single-tag .container .see-all-tags a:hover {
  border-bottom: 1px solid #3FAE29;
}

@media screen and (min-width: 0px) {
  [data-theme=dark] footer {
    background-color: rgba(45, 47, 48, 0.95);
  }
  [data-theme=dark] #homepage #hero .content {
    color: #fff;
  }
  [data-theme=dark] #homepage .homepage-block .title .title-line {
    border-bottom: 1px solid #fff;
  }
  [data-theme=dark] #homepage #s2 .work-grids::before {
    border-right: 1px solid #fff;
  }
  [data-theme=dark] #archives .container .article-wrapper .article-item {
    background-color: rgba(255, 255, 255, 0.06);
  }
  [data-theme=dark] #single-tag .article-wrapper .article-item {
    background-color: rgba(255, 255, 255, 0.06);
  }
  [data-theme=dark] #links .container .container-left .mobile-filter {
    background-color: #2D2F30;
  }
  [data-theme=dark] #links .container .container-left ul {
    background-color: #2D2F30;
  }
  [data-theme=dark] #links .container .item-wrapper .item {
    background-color: rgba(255, 255, 255, 0.06);
  }
}
