@media screen and (min-width: 0px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }

  header nav {
    display: grid;
    grid-template-columns: 30px 30px 1fr 30px 30px;
    grid-gap: 8px;
    align-items: center;
    padding: 9px var(--page-padding-lr);
    background-color: var(--light-color-one);
    border-bottom: 1px solid #686868;
  }

  header .toggle-menu {
    grid-column: 1/2;
    cursor: pointer;
  }

  header .toggle-menu .menu-line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px 0;
    border-radius: 2px;
    background-color: #fff;
  }

  header .logo {
    display: block;
    width: 30px;
    margin: 0 auto;
    grid-column: 3/4;
  }

  header .search {
    grid-column: 4/5;
  }

  header #language-switcher {
    grid-column: 5/6;
  }

  header .search,
  header #language-switcher {
    color: #FFF;
    text-align: center;
  }

  header .search .iconfont,
  header #language-switcher .iconfont {
    font-size: 24px;
    line-height: 30px;
  }

  header .menus-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translateY(-100%);
    transition: var(--transition-animation);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 3;
  }

  header .menus-container.active {
    transform: translateY(0%);
  }

  header .menus-container .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header .menus-container .global-close-icon {
    margin: 0 auto 30px;
    padding: 10px;
  }

  header .menus-container .menu-title {
    display: block;
    padding: 8px 0;
    font-weight: 600;
    text-align: center;
  }
}
