---
layout: zh.liquid
pageSectionID: single-tag
pageDescription: Single tag pages description
permalink: /tags/{{ tag | slug }}/
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: 分类 - {{ tag }}
---
<section id="hero">
  <div class="divimg"
  {% if tag == "css" %}
  style="background-image: linear-gradient(to right, #24c6dc, #514a9d)"
  {% elsif tag == "eleventy"%}
  style="background-image: linear-gradient(to right, #f3cd13, #f35858)"
  {% elsif tag == "html"%}
  style="background-image: linear-gradient(to right, #dd5e89, #f7bb97)"
  {% elsif tag == "javascript"%}
  style="background-image: linear-gradient(to right, #3ca55c, #b5ac49)"
  {% elsif tag == "linux"%}
  style="background-image: linear-gradient(to right, #4cb8c4, #3cd3ad)"
  {% elsif tag == "tech" %}
  style="background-image: linear-gradient(to right, #4776e6, #8e54e9)"
  {% elsif tag == "wordpress" %}
  style="background-image: linear-gradient(to right, #c04848, #480048)"
  {% else %}
  style="background-image: linear-gradient(to right, #7028e4, #e5b2ca)"
  {% endif %}
  ></div>
  <div class="content">
    <h1>分类 - {{ tag }}</h1>
  </div>
</section>
<section class="container">
  <div class="see-all-tags">See <a href="{{ '/tags/' | url }}">all tags</a>.</div>

  {% assign postsList = collections[tag] | reversePosts %}
  {% include './components/postsList' %}
</section>
