<footer>  
  <div class="theme-switch">
    <i class="iconfont icon-theme" aria-hidden="true"></i>
    <input id="toggle-theme" class="toggle-theme" type="checkbox">
    <label for="toggle-theme"></label>
  </div>
  <a href="http://blog.huashunglass.com/" target="_blank" class="old-link">旧版博客</a>
  <div class="copyright">
    {% if lang == "en" %}
    <p>2016 - © {{ "now" | date: "%Y" }} Iris Blog | Designed on Planet Earth</p>
    {% else %}
    <p>2016 - © {{ "now" | date: "%Y" }} Iris 博客 | 来自地球的设计</p>
    {% endif %}
  </div>
</footer>