{% comment %} tag: classname {% endcomment %}
<div class="divimg {{ tag }}" >
  {% if pageSlug == "single-post" %}
  <h1>{{ post.data.title }}</h1>
  {% else %}
  {% comment %} <div class="label">{{ post.data.tags[0] }}</div> {% endcomment %}
  {% endif %}
</div>