
  <script src="https://cdn.staticfile.org/echarts/4.7.0/echarts.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/wow.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/jquery-3.4.1.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/master.js"></script>

</body>
</html>