@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-Regular.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-Regular.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-Regular.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-RegularItalic.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-RegularItalic.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-RegularItalic.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-Bold.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-Bold.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-Bold.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-Thin.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-Thin.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-Thin.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: thin;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-Medium.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-Medium.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-Medium.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-SemiBold.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-SemiBold.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-SemiBold.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'nanoleaf';
  src: url('../../fonts/otf/Nanoleaf-Black.otf') format('opentype'), url('../../fonts/ttf/Nanoleaf-Black.ttf') format('truetype'), url('../../fonts/woff/Nanoleaf-Black.woff') format('woff'), url('../../fonts/woff2/Nanoleaf-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@media screen and (min-width: 0px) {

  * {
    margin: 0;
    padding: 0;
  }

  body,
  html {
    font-family: 'nanoleaf', sans-serif;
    color: var(--light-color-one);
  }

  img,
  video {
    display: block;
    width: 100%;
  }

  input {
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-border-grey-color);
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs-line-height);
    padding: 6px 12px;
    box-sizing: border-box;
    outline: none;
  }

  ul li {
    list-style: none;
  }

  ol li {
    list-style-position: inside;
  }

  button {
    outline: 0;
  }

  a {
    text-decoration: none;
    color: var(--light-color-one);
    transition: var(--transition-animation);
  }

  a:hover {
    color: var(--light-color-two);
  }

  a:focus {
    outline: none;
  }

  .btn {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs-line-height);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--light-color-one);
    border-radius: 6px;
  }

  .btn.btn-text {
    padding: 0;
    border-color: transparent;
  }

  a.text-link {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .font-size-xxl {
    font-size: var(--font-size-xxl);
    line-height: var(--font-size-xxl-line-height);
  }

  .font-size-xl {
    font-size: var(--font-size-xl);
    line-height: var(--font-size-xl-line-height);
  }

  .font-size-l {
    font-size: var(--font-size-l);
    line-height: var(--font-size-l-line-height);
  }

  .font-size-m {
    font-size: var(--font-size-m);
    line-height: var(--font-size-m-line-height);
  }

  .font-size-s {
    font-size: var(--font-size-s);
    line-height: var(--font-size-s-line-height);
  }

  .font-size-xs {
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs-line-height);
  }

  .font-size-xxs {
    font-size: var(--font-size-xxs);
    line-height: var(--font-size-xxs-line-height);
  }

  .global-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .global-close-icon div {
    width: 100%;
    height: 2px;
    background-color: #2D2F30;
    border-radius: 2px;
  }

  .global-close-icon div:first-child {
    transform: rotate(45deg);
  }

  .global-close-icon div:last-child {
    transform: rotate(-45deg);
    margin-left: -30px;
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .btn-tag {
    display: block;
    padding: 4px 8px;
    background-color: var(--light-color-two);
    border-radius: 3px;
    color: #fff;
    font-size: var(--font-size-xxs);
    line-height: var(--font-size-xxs-line-height);
  }

  main {
    min-height: calc(100vh - 200px);
    margin-top: 56px;
  }

  .container {
    display: grid;
    gap: 48px;
    padding: 40px var(--page-padding-lr) var(--page-padding-tb);
  }

  #hero {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
  }

  #hero .divimg {
    height: 100%;
  }

  #hero .divimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #hero .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding: 0 var(--page-padding-lr);
    text-align: center;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    color: #FFF;
    transform: translateY(-50%);
  }

  #hero .content h1 {
    font-size: var(--font-size-xxl);
    line-height: var(--font-size-xxl-line-height);
  }

  /* divimg background color */
  .divimg.css {
    background: linear-gradient(45deg, #24c6dc, #514a9d);
  }

  .divimg.eleventy {
    background: linear-gradient(45deg, #f3cd13, #f35858);
  }

  .divimg.git {
    background: linear-gradient(45deg, #dd5e89, #f7bb97);
  }

  .divimg.gulp {
    background: linear-gradient(45deg, #3ca55c, #b5ac49);
  }

  .divimg.html {
    background: linear-gradient(45deg, #4cb8c4, #3cd3ad);
  }

  .divimg.javascript {
    background: linear-gradient(45deg, #4776e6, #8e54e9);
  }

  .divimg.linux {
    background: linear-gradient(45deg, #c04848, #480048);
  }

  .divimg.tech {
    background: linear-gradient(45deg, #30cfd0, #330867);
  }

  .divimg.wordpress {
    background: linear-gradient(45deg, #7028e4, #e5b2ca);
  }

  .divimg.else {
    background: linear-gradient(45deg, #f44336, #fc00ff);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 250px;
  }
}

@media screen and (min-width: 1200px) {
  #hero {
    height: 220px;
  }
  .btn-tag:hover {
    color: #FFF;
    background-color: var(--light-color-two-hover);
  }
}

@media screen and (min-width: 1600px) {}